.sidebar {
  width: 200px;
  background-color: #2c2c2c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
}

.sidebar button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background-color: #ff6666;
}

.add-button,
.new-member-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
